.center-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 3% 33%;
  min-height: 380px;
  background-color:#f0efef;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px #3241BD;
}

/* input[type="email"]:focus {
  background-color: red
} */
